# 2. Basic data types and variables

## To computers, everything is a number (or a bunch of numbers)

As far as computers are concerned, everything is a number or a bunch of numbers:

* **Code:** Just a bunch of numbers, which the computer interprets as instructions to manipulate other numbers.
* **Data:** Just a bunch of numbers. In fact, the computer only distinguishes code and data through context. Think of this distinction as being like a cookbook. If you’re reading it for fun, it’s data. If you’re following a recipe in the book, it’s code.

Unlike computers, we think of data as having different forms. To allow computers to understand us, and us to understand their output, most programming languages have a concept called **data types**, which are used to represent different forms of data.


## Data types


### Number data types

In order to perform math and counting operations, we have data types that represent numbers. They come in the following flavors:

* **Integers,** which represent whole numbers, both positive and negative. -5, 0, 5, and 5000 are all examples of integers. The Python term for integer is `int`.
* **Floating-point numbers,** which represent the “real” numbers — that is, numbers with fractional parts or decimal points, both positive and negative. -5.2, 0.0. 5.567891234, and 5020.492492 are all examples of floating-point numbers. The Python term for floating-point number is `float`.

Try the following code in either the Python interpreter or a Jupyter notebook:

In [57]:
type(2)

int

In [58]:
type(2.5)

float

`type` is a function that takes the value you give to it — the *argument* — and it gives you back, or *returns* a result indicating the argument’s data type.

In the examples above, `type` says that 2 is an `int` (integer) and that 2.5 is a `float` (floating-point number).


#### Working with numbers

You may have already guessed that you can perform math operations on number types. Here’s a handy table of Python *arithmetic operators*:

<table>
    <tr>
        <th style="text-align:left">Operator</th>
        <th style="text-align:left">Notes</th>
    </tr>
    <tr>
        <td style="text-align:left"><code>+</code></td>
        <td style="text-align:left">
            <p><strong>Addition</strong></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>-</code> or <code>&lt;&gt;</code></td>
        <td style="text-align:left">
            <p><strong>Subtraction</strong></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>*</code></td>
        <td style="text-align:left">
            <p><strong>Multiplication</strong></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>/</code></td>
        <td style="text-align:left">
            <p><strong>Division</strong></p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>%</code></td>
        <td style="text-align:left">
            <p><strong>Modulus</strong></p>
            <p><code>a % b</code> returns the remainder of the division of a by b.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>//</code></td>
        <td style="text-align:left">
            <p><strong>Floor division (a.k.a. integer division)</strong></p>
            <p>Like division, except the result is *floored* — rounded down to the nearest integer. Some examples:</p>
            <ul>
                <li><code>10 // 3</code> returns a result of <code>3</code>. 10 divided by 3 gives a result of 3.333..., and 3.333... when floored (rounded down to the nearest integer) becomes 3.</li>
                <li><code>9 // 3</code>` returns a result of <code>3</code>.</li>
                <li><code>10 // -3</code> and <code>-10 // 3</code> both return a result of <code>-4`</code>. 10 divided by -3 and -10 divided by 3 both give a result of -3.333..., and -3.333... when floored (rounded down to the nearest integer) becomes -4.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>**</code></td>
        <td style="text-align:left">
            <p><strong>Exponentiation</strong></p>
            <p><code>a ** b</code> returns <code>a</code> raised to the power of <code>b</code>.</p>
        </td>
    </tr>
</table>

### String: The data type for text

In order to perform operations on text, we have the **string** data type. It’s called “string” because it refers to a string of characters — that is, a set of zero or more characters with a specific sequence.

String values are enclosed in quotes — either single quotes (`' '`) or double quotes (`" "`). The following are examples of strings:

* `'a'`: A single character.
* `"book"`: Multiple characters.
* `'25'`: One or more digits. Since it’s inside quotes, it’s not a number, but a string that just happens to be made of the numbers 2 and 5. You can’t do math on it.
* `""`: The empty string — a string containing no characters. This represents things like the value inside a text field that hasn’t been filled out yet.

Try the following code in either the Python interpreter or a Jupyter notebook:

In [59]:
type('a')

str

In [60]:
type("book")

str

In [61]:
type('')

str

In the examples above, `type` says that `'a'`, `"book"`, and `''` all are of type `str` (string).

You can’t do math operations on strings, but you can perform *string operations* on them, such as counting how many characters they contain, converting them to all uppercase, all lowercase, or “titlecase”, or joining them together to form incredibly long words, just like they do in the German language.


#### Working with strings

This is a big enough topic that it’ll get its own chapter (the next one).

### Boolean: The data type for `True` and `False` values, and decision-making

A key part of programming is decision making, which involves determining if some condition or set of conditions has been met. This calls for a data type that can specify whether something is true or false, and that’s what the **Boolean** data type is for. It’s called Boolean after mathematician, logician, and philosopher [George Boole](https://en.wikipedia.org/wiki/George_Boole), who created [Boolean algebra](https://en.wikipedia.org/wiki/Boolean_algebra), the branch of algebra in which the values of the variables are the truth values true and false (which are usually denoted 1 and 0, respectively).

There are only two possible values for Boolean data:

* `True`
* `False`

Note that both are capitalized.

Enter the following in either the Python interpreter or a Jupyter notebook:

In [62]:
2 > 1

True

Python interpreted the above as an expression — a line of code that results in a value — and evaluated that value. Since 2 is indeed greater than 1, it returns the value `True`.

Now enter this:

In [63]:
2 < 1

False

Once again, Python considers what you entered an expression and evaluated its value. 2 is not less than 1, and therefore Python returned the value `False`.

Enter this:

In [64]:
1 == 1

True

In Python and many other computer programming languages, `==` — two equals signs in a row — is used to test if two values are equivalent.

The single equals sign, `=`, is used to assign a value to a *variable*. For instance, the code below says the variable `x` is assigned the value 5:

```
x = 5
```

On the other hand, the code below is used to test if the value contained in `x` is equal to 5:

```
x == 5
```

So remember:

* `=` is used to assign values to variables.
* `==` is used to compare two values to see if they’re equal.

Here’s a handy table of Python *comparison operators* (also known as *relational operators*):

<table>
    <tr>
        <th style="text-align:left">Operator</th>
        <th style="text-align:left">Notes</th>
    </tr>
    <tr>
        <td style="text-align:left"><code>==</code></td>
        <td style="text-align:left">
            <p><strong>“Is equal to”</strong></p>
            <p><code>a == b</code> is <code>True</code> if <code>a</code> and <code>b</code> are equal.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>!=</code> or <code>&lt;&gt;</code></td>
        <td style="text-align:left">
            <p><strong>“Is not equal to”</strong></p>
            <p><code>a != b</code> and <code>a &lt;&gt; b</code> are <code>True</code> if <code>a</code> and <code>b</code> are not equal.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>&lt;</code></td>
        <td style="text-align:left">
            <p><strong>“Is less than”</strong></p>
            <p><code>a &lt; b</code> is <code>True</code> if <code>a</code> is less than <code>b</code>.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>&lt;=</code></td>
        <td style="text-align:left">
            <p><strong>“Is less than or equal to”</strong></p>
            <p><code>a &lt;= b</code> is <code>True</code> if <code>a</code> is less than or equal to <code>b</code>.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left"><code>&gt;</code></td>
        <td style="text-align:left">
            <p><strong>“Is greater than”</strong></p>
            <p><code>a &gt; b</code> is <code>True</code> if <code>a</code> is greater than <code>b</code>.</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:left">&gt;=</td>
        <td style="text-align:left">
            <p><strong>“Is greater than or equal to”</strong></p>
            <p><code>a &gt;= b</code> is <code>True</code> if <code>a</code> is greater than or equal to <code>b</code>.</p>
        </td>
    </tr>
</table>

In [65]:
type(2 > 1)

bool

In [66]:
type(2 < 1)

bool

In [67]:
type(2 == 1)

bool

In the examples above, `type` says that `2 > 1`, `2 < 1`, and `2 == 1` all are of type `bool` (Boolean).

## Variables
In computer programs -- Python programs included -- **variables** hold information that will be used and processed. They're also a way to label that information with a descriptive name, so the program can more easily be understood by programmers.

Think of variables as boxes or containers that hold data. Once you put data into a variable, you can use that data in your program.


### Variables in action

Here’s an example of variables in action:

In [68]:
score = 5
print("Here's the score:")
print(score)
bonus_multiplier = 1.2
score = score * bonus_multiplier
message = "Here's the updated score with the bonus multiplier applied:"
print(message)
print(score)

Here's the score:
5
Here's the updated score with the bonus multiplier applied:
6.0

Let’s take a look at this line by line.

```
score = 5
```

This assigns the integer value `5` to the variable named `score`.

```
print("Here's the score:")
```

This prints the text “Here's the score”.

```
print(score)
```

Note that this *doesn’t* print the word “score”. Instead, it prints the *contents of the variable `score`*, which is `5`.

```
bonus_multiplier = 1.2
```

This assigns the “float” value `1.2` to the variable named `bonus_multiplier`.

```
score = score * bonus_multiplier
```

This multiplies the value in the variable `score` by the value in the variable `bonus_multiplier` and stores the result inside the variable `score`.

```
message = "Here's the updated score with the bonus multiplier applied:"
```

This assigns the string value `Here's the updated score with the bonus multiplier applied:` to the variable named `message`.

```
print(message)
```

Once again, note that this *doesn’t* print the word “message”. Instead, it prints the *contents of the variable `message`*, which is “Here's the updated score with the bonus multiplier applied:”.

```
print(score)
```

One more time: note that this *doesn’t* print the word “score”. Instead, it prints the *contents of the variable `score`*, which is now `6`.

### Variable name rules and conventions

* Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number.
* The convention in Python is to use only lowercase letters in variable names. If a variable name is made up of more then one word, separate each word with an underscore character.
    * You won’t get an error if you use uppercase letters in a variable name, but uppercase letters in variable names have special meanings that we’ll cover later on.
* You can’t use spaces in variable names — the Python interpreter would think that you were trying to use two variables in a row. Use underscores instead.

Here are some example variable names:

<ul>
    <li><code>x</code></li>
    <li><code>y</code></li>
    <li><code>score</code></li>
    <li><code>high_score</code></li>
    <li><code>player_2_score</code></li>
</ul>